EjemploSW_CXF/CXF_Servidor/WebContent/wsdl/cuentas_schema1.xsd

<?xml version="1.0" encoding="utf-8"?><xs:schema xmlns:tns="http://sw.uned.es/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://sw.uned.es/" version="1.0">
<xs:element name="sumar" type="tns:sumar"/>
<xs:element name="sumarResponse" type="tns:sumarResponse"/>
<xs:complexType name="sumar">
    <xs:sequence>
      <xs:element name="arg0" type="xs:int"/>
      <xs:element name="arg1" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="sumarResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
