alef/UNED_2013/J2EE/AddService/MedLineBennet2.1Server/MedBenSOAP.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:dam="http://www.example.org/MedBenSearch/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MedBenSearch" targetNamespace="http://www.example.org/MedBenSearch/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.example.org/MedBenSearch/">
      <xsd:element name="busqueda" type="dam:entrada">

      </xsd:element>
      <xsd:element name="resultado" type="dam:salida">

      </xsd:element>

    
            <xsd:complexType name="salida">
            	<xsd:sequence maxOccurs="unbounded" minOccurs="0">
            		<xsd:element name="titulo" type="xsd:string"></xsd:element>
            		<xsd:element name="url" type="xsd:string"></xsd:element>
            	</xsd:sequence></xsd:complexType>
        
            <xsd:complexType name="entrada">
            	<xsd:sequence>
            		<xsd:element name="catalogo" type="xsd:string"></xsd:element>
            		<xsd:element name="palabra" type="xsd:string"></xsd:element>
            		<xsd:element name="campo" type="xsd:string"></xsd:element>
            	</xsd:sequence>
            </xsd:complexType>
            <xsd:element name="NewOperation1">
            	<xsd:complexType>
            		<xsd:sequence>

            			<xsd:element name="in" type="xsd:string"></xsd:element>
            		</xsd:sequence>
            	</xsd:complexType>
            </xsd:element>
            <xsd:element name="NewOperation1Response">
            	<xsd:complexType>
            		<xsd:sequence>

            			<xsd:element name="out" type="xsd:string"></xsd:element>
            		</xsd:sequence>
            	</xsd:complexType>
            </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="BuscarRequest">
    <wsdl:part element="dam:busqueda" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="BuscarResponse">
    <wsdl:part element="dam:resultado" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="NewOperation1Request">
  	<wsdl:part name="parameters" element="dam:NewOperation1"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="NewOperation1Response">
  	<wsdl:part name="parameters" element="dam:NewOperation1Response"></wsdl:part>
  </wsdl:message>
  <wsdl:portType name="MedBenSearch">
    <wsdl:operation name="Buscar">
      <wsdl:input message="dam:BuscarRequest"/>
      <wsdl:output message="dam:BuscarResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MedBenSearchSOAP" type="dam:MedBenSearch">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="Buscar">
      <soap:operation soapAction="http://www.example.org/MedBenSearch/Buscar"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MedBenSearch">
    <wsdl:port binding="dam:MedBenSearchSOAP" name="MedBenSearchSOAP">
      <soap:address location="http://www.example.org/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
