WebServices/PruebaJAXB/src/libros-schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/libros-schema" xmlns:tns="http://www.example.org/libros-schema" elementFormDefault="qualified">

    <complexType name="Libro">
    	<sequence>
    		<element name="Nombre" type="string"></element>
    		<element name="ISBN" type="string"></element>
    	</sequence>
    </complexType>

    <element name="Libros" type="tns:Libro"></element>
</schema>